@model SyrinxMvc.Models.OdlewniaWrapper

@{
    ViewBag.Title = "Utwórz";
}

<h2>Utwórz</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Odlewnia</legend>

        <div class="editor-label">
            @Html.Label("Nazwa")
        </div>
         <div class="editor-field">
            @Html.EditorFor(model => model.foundries.nazwa)
            @Html.ValidationMessageFor(model => model.foundries.nazwa)
        </div>
         <div class="editor-label">
            @Html.Label("Miejscowość")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.foundries.miejscowosc)
            @Html.ValidationMessageFor(model => model.foundries.miejscowosc)
        </div>

        <div class="editor-label">
            @Html.Label("Kod pocztowy")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.foundries.kod_pocztowy)
            @Html.ValidationMessageFor(model => model.foundries.kod_pocztowy)
        </div>

        <div class="editor-label">
            @Html.Label("Ulica")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.foundries.ulica)
            @Html.ValidationMessageFor(model => model.foundries.ulica)
        </div>

        <div class="editor-label">
            @Html.Label("Telefon")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.foundries.telefon)
            @Html.ValidationMessageFor(model => model.foundries.telefon)
        </div>

        <div class="editor-label">
            @Html.Label("Fax")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.foundries.fax)
            @Html.ValidationMessageFor(model => model.foundries.fax)
        </div>

        <div class="editor-label">
            @Html.Label("Adres www")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.foundries.www)
            @Html.ValidationMessageFor(model => model.foundries.www)
        </div>

        <div class="editor-label">
            @Html.Label("Adres e-mail")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.foundries.e_mail)
            @Html.ValidationMessageFor(model => model.foundries.e_mail)
        </div>

        <div class="editor-label">
            @Html.Label("Nazwa technologii")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.foundries.nazwa_technologii)
            @Html.ValidationMessageFor(model => model.foundries.nazwa_technologii)
        </div>

        <div class="editor-label">
            @Html.Label("Nazwa tworzywa")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.foundries.nazwa_tworzywa)
            @Html.ValidationMessageFor(model => model.foundries.nazwa_tworzywa)
        </div>

        <div class="editor-label">
            @Html.Label("Tagi (separator ';')")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.keyWords)
            @Html.ValidationMessageFor(model => model.keyWords)
        </div>

        <p>
            <input type="submit" value="Utwórz" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Cofnij do listy", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
