@model CastKnowledgeWebApp.Domain.Odlewnia

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Odlewnia</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.id_odlewni)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.id_odlewni)
            @Html.ValidationMessageFor(model => model.id_odlewni)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.nazwa)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nazwa)
            @Html.ValidationMessageFor(model => model.nazwa)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.miejscowosc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.miejscowosc)
            @Html.ValidationMessageFor(model => model.miejscowosc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.kod_pocztowy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.kod_pocztowy)
            @Html.ValidationMessageFor(model => model.kod_pocztowy)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ulica)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ulica)
            @Html.ValidationMessageFor(model => model.ulica)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.telefon)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.telefon)
            @Html.ValidationMessageFor(model => model.telefon)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fax)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fax)
            @Html.ValidationMessageFor(model => model.fax)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.www)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.www)
            @Html.ValidationMessageFor(model => model.www)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.e_mail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.e_mail)
            @Html.ValidationMessageFor(model => model.e_mail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.nazwa_technologii)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nazwa_technologii)
            @Html.ValidationMessageFor(model => model.nazwa_technologii)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.nazwa_tworzywa)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nazwa_tworzywa)
            @Html.ValidationMessageFor(model => model.nazwa_tworzywa)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
