@model CastKnowledgeWebApp.Domain.Odlewnia

<div class="item">
    <h3>@Model.id_odlewni @Model.nazwa</h3>
    Dane tele-adresowe:<br>
    @Model.ulica<br>
    @Model.kod_pocztowy<br>
    @Model.miejscowosc<br>
    @Model.telefon<br>
    @Model.fax<br>
    @Model.e_mail<br>
    @Model.www<br>
</div>