@using System.Globalization
@using CastKnowledgeWebApp.Ontology
@using Microsoft.Office.Interop.Excel
@using Newtonsoft.Json
@model CastKnowledgeWebApp.Ontology.OwlCollection

<!DOCTYPE html>
<html>
    <head>       
            
        <style type="text/css"></style>
        <script src="~/Scripts/JSPlumb/dom.jsPlumb-1.6.4-min.js"></script>
        @*<script src="~/Scripts/JSPlumb/ontologyJS.js"></script>*@
        <link href="~/Content/jsBox.css" rel="stylesheet" />
        <link href="~/Content/jsplumb.css" rel="stylesheet" />
    
        
        @Html.Partial("JSFunctions",@Model)
    </head>

<body>
    @section featured {
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>@ViewBag.Title</h1>
                </hgroup>
                <p>
                    Nawigacja po ontologii
                </p>
            </div>
        </section>
    }


    <div id="drag-drop" class="demo drag-drop">
        @foreach (OwlClass t in @Model.OwlClassCollection)
        {
            <div class="window jsplumb-draggable _jsPlumb_endpoint_anchor_" id="@t.className" style="top:100px;left:100px">        
                @t.className.Replace('_',' ')
            </div>
        }
    </div>
</body>
</html>
