@model IEnumerable<CastKnowledgeWebApp.Domain.Patenty>

@{
    ViewBag.Title = "Patenty";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <p>
                Baza patentów i wynalazków.
            </p>
        </div>
    </section>
}


<p>@Html.ActionLink("+ Dodaj", "Create")</p>
<p>@Html.ActionLink("+ Dodaj z xls", "Import","Import",new { _viewName = "Patenty"},null)</p>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.numer_wynalazku)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data_rozpoczecia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data_zakonczenia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data_zgloszenia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.symbol_patentowy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tytul_polski)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tytul_angielski)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.opis_polski)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.opis_angielski)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.osrodek_opracowujacy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.url)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}
