@model IEnumerable<CastKnowledgeWebApp.Domain.Dostawca>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.miejscowosc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kod_pocztowy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ulica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wojewodztwo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.www)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.e_mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prezes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Typ_firmy.nazwa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_firmy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.miejscowosc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kod_pocztowy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ulica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wojewodztwo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.www)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.e_mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prezes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Typ_firmy.nazwa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.id_firmy  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.id_firmy  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.id_firmy  })
        </td>
    </tr>
}

</table>
