@model CastKnowledgeWebApp.Models.DostawcaWrapper

@{
    ViewBag.Title = "Dostawcy";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@foreach (var item in Model.contractors) {
    <tr>
        @Html.Partial("DostawcaList", item)
            @Html.ActionLink("Edit", "Edit", new {  id=item.id_firmy  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.id_firmy  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.id_firmy  })

    </tr>
}

@*</table>*@

<div class="pager">
    @Html.PageLinks(Model.pagingInfo, x => Url.Action("Index", new {page = x}))

</div>