@model CastKnowledgeWebApp.Domain.Dostawca

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Dostawca</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.id_firmy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.id_firmy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nazwa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nazwa)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.miejscowosc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.miejscowosc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.kod_pocztowy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.kod_pocztowy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ulica)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ulica)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.wojewodztwo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.wojewodztwo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.telefon)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.telefon)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fax)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fax)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.www)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.www)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.e_mail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.e_mail)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.prezes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.prezes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Typ_firmy.nazwa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Typ_firmy.nazwa)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
