@model IEnumerable<CastKnowledgeWebApp.Domain.Publikacje>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_publikacji)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rok_publikacji)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tytul_polski)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tytul_zagraniczny)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.streszczenie_pol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.streszczenie_ang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zrodlo_publikacji)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_publikacji)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rok_publikacji)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tytul_polski)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tytul_zagraniczny)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.streszczenie_pol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.streszczenie_ang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.zrodlo_publikacji)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
