@model IEnumerable<CastKnowledgeWebApp.Domain.Publikacje>

@{
    ViewBag.Title = "Publikacje";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <p>
                Baza publikacji i artykułów.
            </p>
        </div>
    </section>
}

<p>@Html.ActionLink("+ Dodaj", "Create")</p>
<p>@Html.ActionLink("+ Dodaj z xls", "Import","Import",new { _viewName = "Publikacje"},null)</p>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_publikacji)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rok_publikacji)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tytul_polski)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tytul_zagraniczny)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.streszczenie_pol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.streszczenie_ang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.zrodlo_publikacji)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}
