@model IEnumerable<CastKnowledge.Domain.Entities.DatabaseQueryResult>

@{
    ViewBag.Title = "Dostawcy";
}

@foreach (var p in Model)
{
    
    <div class="contractor">
     @if (@p.QueryResult_Contractor != null)
     {
        <h3>@p.QueryResult_Contractor.name</h3>

        foreach (var q in @p.QueryResult_Contractor.resources)
        {
            @q.resourceName <br />
        }
     }

    </div>
    
    <div class="foundry">
        @if (@p.QueryResult_Foundy != null)
        {

            <h3>@p.QueryResult_Foundy.name</h3>
            
            foreach (var q in @p.QueryResult_Foundy.materials)
            {
                @q.materialName <br />
                @q.materialSymbol<br />
            }

        }
    </div>
}
