@model IEnumerable<CastKnowledgeWebApp.Domain.Odlewnia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_odlewni)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.miejscowosc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kod_pocztowy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ulica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.www)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.e_mail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
